.button {
  color: var(--blue);
  background-color: transparent;
  border: 0;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* colors */
.primary {
  color: var(--blue);
}
.primary:hover {
  color: var(--darkBlue);
}
.secondary {
  color: var(--purple);
}
.secondary:hover {
  color: var(--darkPurple);
}

/* variants text*/
.primary.text:hover {
  background-color: var(--blueBg);
}
.secondary.text:hover {
  background-color: var(--purpleBg);
}

/* variants contained */
.primary.contained {
  background-color: var(--blue);
  color: var(--white);
}
.primary.contained:hover {
  background-color: var(--darkBlue);
}
.secondary.contained {
  background-color: var(--purple);
  color: var(--white);
}
.secondary.contained:hover {
  background-color: var(--darkPurple);
}
